<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\SearchAdapter\Query\Builder\Sort">
        <arguments>
            <argument name="skippedFields" xsi:type="array">
                <item name="null" xsi:type="string"></item>
            </argument>
        </arguments>
    </type>
    <preference for="SM\RecommendSearchCatalogGraphQl\Api\RecommendProductInterface"
                type="SM\RecommendSearchCatalogGraphQl\Model\RecommendProductRepository"/>
</config>
