<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sm_mobile" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <resource>SM_MobileApi::configuration</resource>
            <label>Mobile Config</label>
            <tab>transmart</tab>

            <group id="mobile_homepage" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="10">
                <label>HomePage</label>
                <field id="most_popular" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Most Popular Category Id</label>
                    <comment>Pls fill only one category id to define which category is most popular in home page</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="surprise_deal" sortOrder="15"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Surprise Deal Category Id</label>
                    <comment>Pls fill only one category id to define which category is surprise deal in home page</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
            </group>
            <group id="cms_page" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Setup Terms and Privacy Page</label>
                <field id="terms_conditions" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms And Conditions</label>
                    <comment>Pls fill only one page id to define which page is terms and conditions</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="privacy_policy"  translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Privacy Policy</label>
                    <comment>Pls fill only one page id to define which page is privacy and policy</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="about_us" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>About Us</label>
                    <comment>Pls fill only one page id to define which page is about us</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
            </group>
        </section>

        <section id="sm_message" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>SM_MobileApi::configuration</resource>
            <label>Greeting Message</label>
            <tab>transmart</tab>

            <group id="first_time_sign_in" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="1">
                <label>First time sign in</label>
                <field id="first_time_message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with username</comment>
                </field>
            </group>

            <group id="morning_sign_in" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="5">
                <label>Morning sign in</label>
                <field id="morning_message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with username</comment>
                </field>
            </group>

            <group id="afternoon_sign_in" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="10">
                <label>Afternoon sign in</label>
                <field id="afternoon_message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with username</comment>
                </field>
            </group>

            <group id="after_week_sign_in" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="20">
                <label>After week sign in</label>
                <field id="after_week_message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with username</comment>
                </field>
            </group>

            <group id="campaign" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="30">
                <label>Promoting sale/Campaign</label>
                <field id="campaign_message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with campaign</comment>
                </field>
                <field id="campaign_start_time" translate="label" type="time" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                    <label>Start Time</label>
                </field>
                <field id="campaign_end_time" translate="label" type="time" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                    <label>End Time</label>
                </field>
            </group>

            <group id="random_message" showInStore="1" showInWebsite="1" showInDefault="1" translate="label comment"
                   sortOrder="40">
                <label>Random Message</label>
                <field id="message" sortOrder="10"  type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>% s will be replaced with username</comment>
                </field>
                <field id="random_message_start_time" translate="label" type="time" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                    <label>Start Time</label>
                </field>
                <field id="random_message_end_time" translate="label" type="time" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                    <label>End Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
