<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="data.title_slider.html()" class="block-title">
    <strong css="data.title_slider.css"
            attr="data.title_slider.attributes"
            ko-style="data.title_slider.style" html="data.title_slider.html"></strong>
</div>
<div class="transmart-pagebuilder-slider"
     attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css">
    <render args="masterTemplate">
    </render>
</div>
