<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type transmart-pagebuilder-slider children-min-height"
     attr="data.main.attributes"
     event="{ mouseover: onMouseOver, mouseout: onMouseOut },  mouseoverBubble: false">
    <div if="data.title_slider.html()" class="block-title">
        <strong css="data.title_slider.css"
                attr="data.title_slider.attributes"
                ko-style="data.title_slider.style" html="data.title_slider.html"/>
    </div>
    <render args="getOptions().template" />
    <div class="slider-container"
         css="data.main.css"
         ko-style="data.main.style">
        <render args="childTemplate" />
    </div>
</div>
