*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/static-content
!/static-content/**
!lib/
!lib/internal/
!lib/internal/Mageplaza/
!lib/internal/Mageplaza/**
!/.gitlab-ci.yml
!/veslicense
!pub/media/ves/
!pub/media/ves/**
!pub/
!pub/media/
!pub/media/lookbook/
!pub/media/lookbook/default
!pub/media/lookbook/default/**
!pub/media/email/
!pub/media/email/images/
!pub/media/email/images/**
.DS_Store
