<div class="new-checkout-head" data-bind="css: {'hidden': hideSelectShippingType()}">
    <!-- ko foreach: { data: getDeliveryType(), as: 'item' } -->
    <a href="#" class="bt-delivery" data-bind="click: function(){ $parent.deliveryTypeClick(item.value) }, css: {'active': $parent.addActive(item.value), 'active-both': $parent.addActiveBoth()}">
        <span class="apl-ic_delivery-long"></span>
        <span data-bind="i18n: item.label"></span>
        <span class="cirl-checkbox"></span>
        <input class="hidden" data-bind="attr: {'type': 'checkbox', 'name': 'order-delivery-type', 'value': item.value}, checked: $parent.orderDeliveryType" />
    </a>
    <!-- /ko -->
</div>
<!-- ko if:isShowBoth() -->
<div class="chek-note" data-bind="css: {'active': addActiveBoth()}">
     <span class="dpl-tooltip">
         <a href="#" aria-describedby="tooltip-1"><img data-bind="attr:{src: getImageMobileNumber(), width: 13, height:13}"/></a>
         <span class="tooltip-content" id="tooltip-1" role="tooltip" data-bind="i18n: 'Sometimes you want to have a part of your order delivered and picked up the rest. Yes, you can do both with Transmart!'"></span>
     </span>
    <span class="text-note" data-bind="i18n: 'or do both'"></span>
    <span class="icon-toggle" data-bind="click: function(){ setBothOptions() }, attr: {id: 'link-both'}"></span>
</div>
<!-- /ko -->
