<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-header">
    <!-- ko foreach: getRegion('trans-block-header') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
<div class="checkout-main-content" data-bind="afterRender: firstBuild()">
    <!-- ko foreach: getRegion('trans-block-main-checkout') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
<div class="totals-block">
    <!-- ko foreach: getRegion('trans-block-cart-totals') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
