<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fresh_product" translate="label" type="text" sortOrder="90"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Fresh Product</label>
            <tab>transmart</tab>
            <resource>SM_FreshProduct::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="0"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="tooltip" type="textarea" translate="label comment" sortOrder="1" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tooltip</label>
                </field>
            </group>
        </section>
    </system>
</config>
