<?xml version="1.0"?>
<!--
  ~ @project    ct-corp-transmart
  ~ @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  ~ @author     Duc Nguyen Hoang <ducnh2@smartosc.com>
  ~ @copyright  Copyright © 2020 SmartOSC. All rights reserved.
  ~ @url        http://www.smartosc.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="SM_Help::help" title="Help" sortOrder="10">
                        <resource id="SM_Help::topic" title="Topic" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
