<?xml version="1.0"?>
<!--
/**
 * @category SM
 * @package SM_Catalog
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 *
 * @author Logan Ta <phuongtt2@smartosc.com>
 *
 * @copyright 2020 Copyright (c) SmartOSC. All rights reserved.
 * @url http://www.smartosc.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SM_Catalog" setup_version="1.2.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Report"/>
            <module name="SM_Setup"/>
            <module name="Magento_Swatches"/>
        </sequence>
    </module>
</config>
