<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SM_ShoppingList::configuration" title="Shopping List Configuration" sortOrder="52"/>
            </resource>
        </resources>
    </acl>
</config>
