<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config">
        <plugin name="trans_catalog_model_config"
                type="SM\Catalog\Plugin\Model\Config" sortOrder="30"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="trans_catalog_model_product"
                type="SM\Catalog\Plugin\Model\Product" sortOrder="30"/>
    </type>
    <preference for="Magento\Catalog\Controller\Product\View" type="SM\Catalog\Controller\Product\View" />
    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="sm_catalog_swatches_configurable"
                type="SM\Catalog\Plugin\Swatches\Block\Product\Renderer\Configurable" sortOrder="30"/>
    </type>
</config>
