<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Unable to proceed order due to product unavailability"}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var comment|escape|nl2br":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.customer_name":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var store.frontend_name":"Store Frontend Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var store_hours":"Store Hours",
"var creditmemo":"Credit Memo",
"var order":"Order",
"var order_data.is_not_virtual":"Order Type"
} @-->
{{template config_path="design/email/header_template"}}

<table class="greeting" width="100%">
    <tr>
        <td>
            <p>
                {{trans "Hello"}}
                <b>{{trans "%customer_name," customer_name=$order_data.customer_name}}</b>
            </p>
        </td>
    </tr>
</table>
<!--End greeting-->
<table class="message-email-2" width="100%">
    <tr>
        <td>
            {{if additional_data.is_virtual}}
            <p>
                {{trans "We are sorry to inform you that %items in order #%order_increment are currently
                unavailable.
                But don't worry, you can get a refund with a few easy steps."
                items=$additional_data.items_text
                order_increment=$additional_data.order_increment_id
                |raw}}
            </p>
            <p>{{trans 'Simply click the button below and fill out the refund form.'}}</p>
            {{/if}}
            {{if additional_data.is_card}}
            <p>
                {{trans "We are sorry to inform you that  %items in order #%order_increment are currently
                unavailable. Don't worry, your credit card won't be charged for this transaction."
                items=$additional_data.items_text
                order_increment=$additional_data.order_increment_id
                |raw}}
            </p>
            {{/if}}
        </td>
    </tr>
</table>
{{if additional_data.is_virtual}}
<table class="button-message-email" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table class="box-verify-email" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="button refund">
                        {{trans '<a href="%refund_url">Get a Refund</a>' refund_url=$additional_data.refund_url |raw}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/if}}
<!--End Button Message email-->
<table>
    <tr class="email-information">
        <td>
            {{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
