<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your Order Confirmation (Reference number: %order_increment)" order_increment=$additional_data.order_increment}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_data.customer_name":"Customer Name",
"var additional_data.order_increment":"Reference Number",
"var additional_data.order_total":"Total",
"var additional_data.payment_method_title":"Payment Method Title",
"var additional_data.order_url":"Order Url",
"var additional_data.is_va":"Is Virtual Account",
"var additional_data.is_va_bca":"Is Virtual Account BCA",
"var additional_data.is_va_mega":"Is Virtual Account MEGA",
"var additional_data.is_cc":"Is Credit Card",
"var additional_data.is_store_pick_up":"Is Store Pick Up",
"var additional_data.delivery_method":"Delivery Method"

} @-->
{{template config_path="design/email/header_template"}}
<table class="greeting" width="100%">
    <tr>
        <td>
            <p>
                {{trans "Hello"}}
                <b>{{trans "%customer_name," customer_name=$order_data.customer_name}}</b>
            </p>
        </td>
    </tr>
</table>
<!--End greeting-->
<table class="message-email-2" width="100%">
    <tr>
        <td>
            {{if additional_data.is_va}}
            <p>
                {{trans "Thank you for
                shopping at METRO.
                We have received your
                order with %payment_method_title payment. " payment_method_title=$additional_data.payment_method_title}}
                {{depend additional_data.expire_time_string}}
                {{trans "Please
                complete your payment using %payment_method_title before " payment_method_title=$additional_data.payment_method_title}}
                {{trans '%expire_time_string' expire_time_string=$additional_data.expire_time_string }}.
                {{/depend}}
            </p>
            <p>
                {{trans "Reference Number: %order_increment" order_increment=$additional_data.order_increment}}
            </p>
            {{else}}
            <p>
                {{trans "Thank you for shopping at METRO. We have received your order. Please complete your payment for this order."}}
            </p>
            <p>
                {{trans "Reference Number: %order_increment" order_increment=$additional_data.order_increment}}
            </p>
            <p>
                {{trans "Total: %order_total" order_total=$additional_data.order_total}}
            </p>
            <p>
                {{trans "Payment Method: %payment_method_title" payment_method_title=$additional_data.payment_method_title}}
            </p>
            {{/if}}

            {{if additional_data.virtual_account_number}}
            {{else}}
            {{depend additional_data.is_va_mega}}
            <p>
                {{trans "Total: %order_total" order_total=$additional_data.order_total}}
            </p>
            {{/depend}}
            {{/if}}

            {{if additional_data.expire_time_string}}
            {{else}}
            {{depend additional_data.is_va_bca}}
            <p>
                {{trans "Total: %order_total" order_total=$additional_data.order_total}}
            </p>
            {{/depend}}
            {{/if}}
        </td>
    </tr>
</table>
<table class="list-deliver">
    <tbody>

    {{if additional_data.is_va_bca}}
    {{depend additional_data.expire_time_string}}
    <tr>
        <td class="virtual-column">
            <p>
                {{trans "Virtual Account number"}}
            </p>
            <h3>
                {{trans "%va_number" va_number=$additional_data.virtual_account_number}}
            </h3>
        </td>
    </tr>
    <tr>
        <td class="total-column">
            <p class="column-heading">
                {{trans "Total"}}
            </p>
            <p class="column-text">
                {{trans "%order_total" order_total=$additional_data.order_total}}
            </p>
        </td>
    </tr>
    {{/depend}}
    {{/if}}

    {{if additional_data.is_va_mega}}
    {{depend additional_data.virtual_account_number}}
    <tr>
        <td class="virtual-column">
            <p>
                {{trans "Virtual Account number"}}
            </p>
            <h3>
                {{trans "%va_number" va_number=$additional_data.virtual_account_number}}
            </h3>
        </td>
    </tr>
    <tr>
        <td class="total-column">
            <p class="column-heading">
                {{trans "Total"}}
            </p>
            <p class="column-text">
                {{trans "%order_total" order_total=$additional_data.order_total}}
            </p>
        </td>
    </tr>
    {{/depend}}
    {{/if}}

    </tbody>
</table>
<!--End Message Email 2-->

<table class="list-deliver">
    <tbody>
    <tr>
        <td class="one-of-two-column">
            {{depend order_data.is_not_virtual}}
            <table class="content">
                <tbody>
                <tr>
                    <td class="title">
                        {{if additional_data.is_store_pick_up}}
                        <p>
                            {{trans "Store Information"}}
                        </p>
                        {{else}}
                        <p>
                            {{trans "Deliver to"}}
                        </p>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="description">
                        {{var formattedShippingAddress|raw}}
                    </td>
                </tr>
                </tbody>
            </table>
            {{/depend}}

        </td>
        <td class="one-of-two-column">
            {{depend order_data.is_not_virtual}}
            <table class="content">
                <tbody>
                <tr>
                    <td class="title">
                        <p>
                            {{trans "Delivery method"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="description">
                        <p>
                            {{var additional_data.delivery_method}}
                        </p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                </tr>
                </tbody>
            </table>
            {{/depend}}

        </td>
    </tr>
    </tbody>
</table>
<!--End List deliver-->
{{layout handle="sales_email_order_items" order=$order area="frontend"}}
<!-- End order detail-->
<table class="message-email" width="100%">
    <tr>
        <td>
            <p>
                {{trans
                'To see your order status, please go to <a href="%order_url" class="blue">My Order</a>'

                order_url="$additional_data.order_url"
                |raw}}
            </p>
        </td>
    </tr>
</table>
<!--End Message Email-->
{{if additional_data.is_va_bca}}
{{depend additional_data.expire_time_string}}
<table class="how-to-pay">
    <tr>
        <td>
            <p class="h2">
                {{trans "How to Pay with BCA Virtual Account"}}
            </p>
        </td>
    </tr>
    <tr>
        <td class="guide">
            <table>
                <tr>
                    <td class="title-guide">
                        <p>
                            {{trans "BCA ATM"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="content-guide">
                        <p>
                            {{trans "1. Insert your ATM BCA card and enter your PIN."}}
                        </p>
                        <p>
                            {{trans "2. Choose Other Transactions"}}
                        </p>
                        <p>
                            {{trans "3. Choose Transfer."}}
                        </p>
                        <p>
                            {{trans "4. Choose to BCA Virtual Account."}}
                        </p>
                        <p>
                            {{trans "5. Enter the BCA Virtual Account number shown on your METRO page. Choose Right."}}
                        </p>
                        <p>
                            {{trans "6. Make sure the amount of payment and other infomation are correct, then choose Right."}}
                        </p>
                        <p>
                            {{trans "7. Choose Yes to validate your payment."}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="guide">
            <table>
                <tr>
                    <td class="title-guide">
                        <p>
                            {{trans "m-BCA"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="content-guide">
                        <p>
                            {{trans "1. Insert your ATM BCA card and enter your PIN."}}
                        </p>
                        <p>
                            {{trans "2. Choose Other Transactions"}}
                        </p>
                        <p>
                            {{trans "3. Choose Transfer."}}
                        </p>
                        <p>
                            {{trans "4. Choose to BCA Virtual Account."}}
                        </p>
                        <p>
                            {{trans "5. Enter the BCA Virtual Account number shown on your METRO page. Choose Right."}}
                        </p>
                        <p>
                            {{trans "6. Make sure the amount of payment and other infomation are correct, then choose Right."}}
                        </p>
                        <p>
                            {{trans "7. Choose Yes to validate your payment."}}
                        </p>
                        <p>
                            {{trans "8. Choose Yes to validate your payment."}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/depend}}
{{/if}}
{{if additional_data.is_va_mega}}
{{depend additional_data.virtual_account_number}}
<table class="how-to-pay">
    <tr>
        <td>
            <p class="h2">
                {{trans "How to Pay with Bank Mega Virtual Account"}}
            </p>
        </td>
    </tr>
    <tr>
        <td class="guide">
            <table>
                <tr>
                    <td class="title-guide">
                        <p>
                            {{trans "Bank Mega ATM"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="content-guide">
                        <p>{{trans "1. Insert your card and enter your PIN."}}</p>
                        <p>{{trans "2. Choose Transaksi Lainnya."}}</p>
                        <p>{{trans "3. Choose Pembayaran."}}</p>
                        <p>{{trans "4. Choose Pembayaran Lainnya/VA."}}</p>
                        <p>{{trans "5. Enter Bank Mega Virtual Account Number shown during payment process."}}</p>
                        <p>{{trans "6. Continue with choosing Benar."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="guide">
            <table>
                <tr>
                    <td class="title-guide">
                        <p>
                            {{trans "Mega Mobile App"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="content-guide">
                        <p>{{trans "1. Log in to Mega Mobile."}}</p>
                        <p>{{trans "2. Choose Pembayaran."}}</p>
                        <p>{{trans "3. Choose your payment account."}}</p>
                        <p>{{trans "4. In "Daftar Produk" menu, choose Virtual Account."}}</p>
                        <p>{{trans "5. In "No Pelanggan" menu, choose Input No Pelanggan."}}</p>
                        <p>{{trans "6. Enter Bank Mega Virtual Account Number shown during payment process."}}</p>
                        <p>{{trans "7. Choose Kirim."}}</p>
                        <p>{{trans "8. Follow verification steps by SMS to finish this process."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="guide">
            <table>
                <tr>
                    <td class="title-guide">
                        <p>
                            {{trans "Mega Internet Banking"}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="content-guide">
                        <p>{{trans "1. Log in on Mega Internet."}}</p>
                        <p>{{trans "2. Choose Transfer."}}</p>
                        <p>{{trans "3. Choose ke Rekening Bank Mega."}}</p>
                        <p>{{trans "4. Complete the information and enter Bank Mega Virtual Account number in beneficiary account number field."}}</p>
                        <p>{{trans "5. Click Konfirmasi and continue your transaction as instructed."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/depend}}
{{/if}}
<!--End How To Pay-->
<table class="sincerely" width="100%">
    <tr>
        <td>
            <p>{{trans "Sincerely"}},</p>
            <p class="signature">
                <b>{{trans "METRO"}}</b>
            </p>
        </td>
    </tr>
</table>
<!--End Sincerely-->
{{template config_path="design/email/footer_template"}}
