<?xml version="1.0"?>
<!--
/**
 * @category Trans
 * @package  Trans_Mepay
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 *
 * @author   Anan Fauzi <anan.fauzi@transdigital.co.id>
 *
 * Copyright © 2020 PT CT Corp Digital. All rights reserved.
 * http://www.ctcorpora.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <!-- Logger Start -->
  <virtualType name="Trans\Mepay\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
    <arguments>
      <argument name="fileName" xsi:type="string">/var/log/trans_mepay.log</argument>
    </arguments>
  </virtualType>

  <type name="Trans\Mepay\Logger\Logger">
    <arguments>
      <argument name="name" xsi:type="string">transmepaylog</argument>
        <argument name="handlers"  xsi:type="array">
          <item name="system" xsi:type="object">Trans\Mepay\Logger\Handler</item>
        </argument>
    </arguments>
  </type>
  <!-- Logger End -->

  <!-- Webhook class -->
  <preference for="Trans\Mepay\Api\WebhookInterface" type="Trans\Mepay\Model\Webhook" />
  <preference for="Trans\Mepay\Api\Data\ResponseInterface" type="Trans\Mepay\Model\Webhook\Response" />
  <preference for="Trans\Mepay\Api\Data\InquiryInterface" type="Trans\Mepay\Model\Webhook\Inquiry" />
  <preference for="Trans\Mepay\Api\Data\InquiryCustomerInterface" type="Trans\Mepay\Model\Webhook\Inquiry\Customer" />
  <preference for="Trans\Mepay\Api\Data\InquiryMerchantInterface" type="Trans\Mepay\Model\Webhook\Inquiry\Merchant" />
  <preference for="Trans\Mepay\Api\Data\InquiryOrderInterface" type="Trans\Mepay\Model\Webhook\Inquiry\Order" />
  <preference for="Trans\Mepay\Api\Data\InquiryOrderItemsInterface" type="Trans\Mepay\Model\Webhook\Inquiry\Order\Items" />
  <preference for="Trans\Mepay\Api\Data\TransactionInterface" type="Trans\Mepay\Model\Webhook\Transaction" />
  <preference for="Trans\Mepay\Api\Data\TransactionStatusDataInterface" type="Trans\Mepay\Model\Webhook\Transaction\StatusData" />
  <preference for="Trans\Mepay\Api\ConfigPullStatusRepositoryInterface" type="Trans\Mepay\Model\ResourceModel\ConfigPullStatusRepository" />
  <preference for="Trans\Mepay\Api\Data\ConfigPullStatusInterface" type="Trans\Mepay\Model\ConfigPullStatus" />

  <type name="Magento\Checkout\Model\PaymentInformationManagement">
      <plugin name="TransMepayPluginMagentoCheckoutModelPaymentInformationManagement" type="Trans\Mepay\Plugin\Magento\Checkout\Model\PaymentInformationManagement" />
  </type>

  <!-- General configuration -->
  <virtualType name="TransMepayFacade" type="Magento\Payment\Model\Method\Adapter">
    <arguments>
      <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Mepay::CODE</argument>
      <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
      <argument name="infoBlockType" xsi:type="string">Trans\Mepay\Block\Info</argument>
      <argument name="valueHandlerPool" xsi:type="object">TransMepayValueHandlerPool</argument>
    </arguments>
  </virtualType>

  <!-- General Configuration reader -->
  <virtualType name="TransMepayConfig" type="Magento\Payment\Gateway\Config\Config">
    <arguments>
      <argument name="methodCode" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Mepay::CODE</argument>
    </arguments>
  </virtualType>
  <type name="Trans\Mepay\Block\Info">
    <arguments>
      <argument name="config" xsi:type="object">TransMepayConfig</argument>
    </arguments>
  </type>

  <!-- General Value handlers infrastructure -->
  <virtualType name="TransMepayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
    <arguments>
      <argument name="handlers" xsi:type="array">
        <item name="default" xsi:type="string">TransConfigValueHandler</item>
      </argument>
    </arguments>
  </virtualType>
  <virtualType name="TransConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
    <arguments>
      <argument name="configInterface" xsi:type="object">TransMepayConfig</argument>
    </arguments>
  </virtualType>

  <!-- Provider specific configuration -->

  <!-- Cc -->
  <virtualType name="TransMepayCcFacade" type="Magento\Payment\Model\Method\Adapter">
    <arguments>
      <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Cc::CODE_CC</argument>
      <argument name="formBlockType" xsi:type="string">TransMepayCcBlockInfo</argument>
      <argument name="infoBlockType" xsi:type="string">Trans\Mepay\Block\Info</argument>
      <argument name="valueHandlerPool" xsi:type="object">TransMepayCcValueHandlerPool</argument>
      <argument name="commandPool" xsi:type="object">TransMepayCcCommandPool</argument>
    </arguments>
  </virtualType>

  <!-- Cc Configuration reader -->
  <virtualType name="TransMepayCcConfig" type="Magento\Payment\Gateway\Config\Config">
    <arguments>
      <argument name="methodCode" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Cc::CODE_CC</argument>
    </arguments>
  </virtualType>
  <virtualType name="TransMepayCcBlockInfo" type="Trans\Mepay\Block\Info">
    <arguments>
      <argument name="config" xsi:type="object">TransMepayCcConfig</argument>
    </arguments>
  </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="TransMepayCcValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TransMepayCcConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayCcConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TransMepayCcConfig</argument>
        </arguments>
    </virtualType>

    <!-- Cc Commands infrastructure -->
    <virtualType name="TransMepayCcCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">TransMepayCcInquiryCommand</item>
                <item name="capture" xsi:type="string">TransMepayCaptureStrategyCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Cc command -->
    <virtualType name="TransMepayCcInquiryCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TransMepayCcInquiryRequest</argument>
            <argument name="transferFactory" xsi:type="object">Trans\Mepay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Trans\Mepay\Gateway\Http\Client\Connect</argument>
            <argument name="handler" xsi:type="object">TransMepayCcInquiryHandler</argument>
            <argument name="validator" xsi:type="object">Trans\Mepay\Gateway\Validator\ResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayCaptureStrategyCommand" type="Magento\Braintree\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">BraintreeCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Cc inquiry request -->
    <virtualType name="TransMepayCcInquiryRequest" type="Trans\Mepay\Gateway\Request\Builder\Composite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Trans\Mepay\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Trans\Mepay\Gateway\Request\OrderDataBuilder</item>
                <item name="referenceUrl" xsi:type="string">Trans\Mepay\Gateway\Request\ReferenceUrlDataBuilder</item>
                <item name="amount" xsi:type="string">Trans\Mepay\Gateway\Request\AmountDataBuilder</item>
                <item name="currency" xsi:type="string">Trans\Mepay\Gateway\Request\CurrencyDataBuilder</item>
                <item name="paymentSource" xsi:type="string">TransMepayCcPaymentSourceInquiryData</item>
                <item name="paymentSourceMethod" xsi:type="string">TransMepayCcPaymentSourceMethodInquiryData</item>
                <item name="token" xsi:type="string">Trans\Mepay\Gateway\Request\TokenDataBuilder</item>
                <item name="attributes" xsi:type="string">Trans\Mepay\Gateway\Request\AttributesDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayCcPaymentSourceInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Cc::CODE_CC</argument>
      </arguments>
    </virtualType>
    <virtualType name="TransMepayCcPaymentSourceMethodInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceMethodDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Cc::CODE_CC</argument>
      </arguments>
    </virtualType>

    <!-- Cc inquiry handler -->
    <virtualType name="TransMepayCcInquiryHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
      <arguments>
        <argument name="handlers" xsi:type="array">
          <item name="payment_transaction" xsi:type="string">Trans\Mepay\Gateway\Response\SalesPaymentTransactionHandler</item>
        </argument>
      </arguments>
    </virtualType>

    <!-- End Cc -->


    <!-- Va -->
  <virtualType name="TransMepayVaFacade" type="Magento\Payment\Model\Method\Adapter">
    <arguments>
      <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Va::CODE_VA</argument>
      <argument name="formBlockType" xsi:type="string">TransMepayVaBlockInfo</argument>
      <argument name="infoBlockType" xsi:type="string">Trans\Mepay\Block\Info</argument>
      <argument name="valueHandlerPool" xsi:type="object">TransMepayVaValueHandlerPool</argument>
      <argument name="commandPool" xsi:type="object">TransMepayVaCommandPool</argument>
    </arguments>
  </virtualType>

  <!-- Va Configuration reader -->
  <virtualType name="TransMepayVaConfig" type="Magento\Payment\Gateway\Config\Config">
    <arguments>
      <argument name="methodCode" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Va::CODE_VA</argument>
    </arguments>
  </virtualType>
  <virtualType name="TransMepayVaBlockInfo" type="Trans\Mepay\Block\Info">
    <arguments>
      <argument name="config" xsi:type="object">TransMepayVaConfig</argument>
    </arguments>
  </virtualType>

    <!-- Va Value handlers infrastructure -->
    <virtualType name="TransMepayVaValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TransMepayVaConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayVaConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TransMepayVaConfig</argument>
        </arguments>
    </virtualType>

    <!-- Va Commands infrastructure -->
    <virtualType name="TransMepayVaCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">TransMepayVaInquiryCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Va command -->
    <virtualType name="TransMepayVaInquiryCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TransMepayVaInquiryRequest</argument>
            <argument name="transferFactory" xsi:type="object">Trans\Mepay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Trans\Mepay\Gateway\Http\Client\Connect</argument>
            <argument name="handler" xsi:type="object">TransMepayVaInquiryHandler</argument>
            <argument name="validator" xsi:type="object">Trans\Mepay\Gateway\Validator\ResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Va inquiry request -->
    <virtualType name="TransMepayVaInquiryRequest" type="Trans\Mepay\Gateway\Request\Builder\Composite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Trans\Mepay\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Trans\Mepay\Gateway\Request\OrderDataBuilder</item>
                <item name="referenceUrl" xsi:type="string">Trans\Mepay\Gateway\Request\ReferenceUrlDataBuilder</item>
                <item name="amount" xsi:type="string">Trans\Mepay\Gateway\Request\AmountDataBuilder</item>
                <item name="currency" xsi:type="string">Trans\Mepay\Gateway\Request\CurrencyDataBuilder</item>
                <item name="paymentSource" xsi:type="string">TransMepayVaPaymentSourceInquiryData</item>
                <item name="paymentSourceMethod" xsi:type="string">TransMepayVaPaymentSourceMethodInquiryData</item>
                <item name="token" xsi:type="string">Trans\Mepay\Gateway\Request\TokenDataBuilder</item>
                <item name="attributes" xsi:type="string">Trans\Mepay\Gateway\Request\AttributesDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayVaPaymentSourceInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Va::CODE_VA</argument>
      </arguments>
    </virtualType>
    <virtualType name="TransMepayVaPaymentSourceMethodInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceMethodDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Va::CODE_VA</argument>
      </arguments>
    </virtualType>

    <!-- Va inquiry handler -->
    <virtualType name="TransMepayVaInquiryHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
      <arguments>
        <argument name="handlers" xsi:type="array">
          <item name="payment_transaction" xsi:type="string">Trans\Mepay\Gateway\Response\SalesPaymentTransactionHandler</item>
        </argument>
      </arguments>
    </virtualType>

    <!-- End Va-->

  <!-- Qris -->
  <virtualType name="TransMepayQrisFacade" type="Magento\Payment\Model\Method\Adapter">
    <arguments>
      <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Qris::CODE_QRIS</argument>
      <argument name="formBlockType" xsi:type="string">TransMepayQrisBlockInfo</argument>
      <argument name="infoBlockType" xsi:type="string">Trans\Mepay\Block\Info</argument>
      <argument name="valueHandlerPool" xsi:type="object">TransMepayQrisValueHandlerPool</argument>
      <argument name="commandPool" xsi:type="object">TransMepayQrisCommandPool</argument>
    </arguments>
  </virtualType>

  <!-- Qris Configuration reader -->
  <virtualType name="TransMepayQrisConfig" type="Magento\Payment\Gateway\Config\Config">
    <arguments>
      <argument name="methodCode" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Qris::CODE_QRIS</argument>
    </arguments>
  </virtualType>
  <virtualType name="TransMepayQrisBlockInfo" type="Trans\Mepay\Block\Info">
    <arguments>
      <argument name="config" xsi:type="object">TransMepayQrisConfig</argument>
    </arguments>
  </virtualType>

    <!-- Qris Value handlers infrastructure -->
    <virtualType name="TransMepayQrisValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TransMepayQrisConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayQrisConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TransMepayQrisConfig</argument>
        </arguments>
    </virtualType>

    <!-- Qris Commands infrastructure -->
    <virtualType name="TransMepayQrisCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">TransMepayQrisInquiryCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Qris command -->
    <virtualType name="TransMepayQrisInquiryCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TransMepayQrisInquiryRequest</argument>
            <argument name="transferFactory" xsi:type="object">Trans\Mepay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Trans\Mepay\Gateway\Http\Client\Connect</argument>
            <argument name="handler" xsi:type="object">TransMepayQrisInquiryHandler</argument>
            <argument name="validator" xsi:type="object">Trans\Mepay\Gateway\Validator\ResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Qris inquiry request -->
    <virtualType name="TransMepayQrisInquiryRequest" type="Trans\Mepay\Gateway\Request\Builder\Composite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Trans\Mepay\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Trans\Mepay\Gateway\Request\OrderDataBuilder</item>
                <item name="referenceUrl" xsi:type="string">Trans\Mepay\Gateway\Request\ReferenceUrlDataBuilder</item>
                <item name="amount" xsi:type="string">Trans\Mepay\Gateway\Request\AmountDataBuilder</item>
                <item name="currency" xsi:type="string">Trans\Mepay\Gateway\Request\CurrencyDataBuilder</item>
                <item name="paymentSource" xsi:type="string">TransMepayQrisPaymentSourceInquiryData</item>
                <item name="paymentSourceMethod" xsi:type="string">TransMepayQrisPaymentSourceMethodInquiryData</item>
                <item name="token" xsi:type="string">Trans\Mepay\Gateway\Request\TokenDataBuilder</item>
                <item name="attributes" xsi:type="string">Trans\Mepay\Gateway\Request\AttributesDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TransMepayQrisPaymentSourceInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Qris::CODE_QRIS</argument>
      </arguments>
    </virtualType>
    <virtualType name="TransMepayQrisPaymentSourceMethodInquiryData" type="Trans\Mepay\Gateway\Request\PaymentSourceMethodDataBuilder">
      <arguments>
        <argument name="code" xsi:type="const">\Trans\Mepay\Model\Config\Provider\Qris::CODE_QRIS</argument>
      </arguments>
    </virtualType>

    <!-- Qris inquiry handler -->
    <virtualType name="TransMepayQrisInquiryHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
      <arguments>
        <argument name="handlers" xsi:type="array">
          <item name="payment_transaction" xsi:type="string">Trans\Mepay\Gateway\Response\SalesPaymentTransactionHandler</item>
        </argument>
      </arguments>
    </virtualType>

    <!-- End Qris -->

    <!-- @add console command for cron debuging purpose -->
    <type name="Magento\Framework\Console\CommandList">
      <arguments>
            <argument name="commands" xsi:type="array">
               <item name="Trans_Mepay_Console_Cron_Transaction_Status" xsi:type="object">Trans\Mepay\Console\Cron\Transaction\Status</item>
            </argument>
        </arguments>
    </type>
</config>
