<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        @media screen and (min-width: 768px) {
            .wrapper-inner {
                max-width: 700px;
            }
        }
    </style>

    <body>
        <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="margin: 0 auto;"
            class="wrapper-inner"
        >
            <tr>
                <td style="font-size: 16px;">
                    <table class="header-table" style="width: 100%;">
                        <tr>
                            <td class="one-column">
                                <table class="logo" width="100%">
                                    <tr>
                                        <td>
                                            <img
                                                width="300px"
                                                src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/logo-transmart.png?v=1588736364"
                                                alt="logo-transmart"
                                            />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- End Header Table-->
                    <table class="main-table" style="width: 100%;">
                        <tr>
                            <td class="one-column">
                                <table class="greeting" width="100%">
                                    <tr>
                                        <td>
                                            <p>Hello <b>Sarah,</b></p>
                                        </td>
                                    </tr>
                                </table>
                                <!--End greeting-->
                                <table class="message-email" width="100%">
                                    <tr>
                                        <td>
                                            <p>
                                                We are deliverting order
                                                987654321 to your address. Get
                                                ready to reveive your order.
                                                Track your order to see its
                                                whereabouts.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <!--End Message Email-->
                                <table
                                    class="button-message-email"
                                    width="100%"
                                    cellspacing="0"
                                    cellpadding="0"
                                >
                                    <tr>
                                        <td align="center">
                                            <table
                                                cellspacing="0"
                                                cellpadding="0"
                                                style="margin: 30px 0;"
                                            >
                                                <tr>
                                                    <td
                                                        style="
                                                            border-radius: 8px;
                                                            background: linear-gradient(
                                                                180deg,
                                                                #f7b500 0%,
                                                                #fb9e0d 99.93%
                                                            );
                                                            box-shadow: 0 2px
                                                                4px 0
                                                                rgba(
                                                                    106,
                                                                    105,
                                                                    104,
                                                                    0.33
                                                                );
                                                        "
                                                    >
                                                        <a
                                                            href="https://www.copernica.com"
                                                            target="_blank"
                                                            style="
                                                                padding: 8px
                                                                    100px;
                                                                border-radius: 2px;
                                                                font-size: 16px;
                                                                color: #ffffff;
                                                                text-decoration: none;
                                                                font-weight: bold;
                                                                text-transform: capitalize;
                                                                display: inline-block;
                                                            "
                                                        >
                                                            Track Order
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!--End Button Message email-->
                                <table class="sincerely" width="100%">
                                    <tr>
                                        <td>
                                            <p>Sincerely,</p>
                                            <p
                                                class="signature"
                                                style="font-size: 18px;"
                                            >
                                                <b>Transmart</b>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <!--End Sincerely-->
                            </td>
                        </tr>
                    </table>
                    <table class="footer-table" style="width: 100%;">
                        <tr>
                            <td class="one-column">
                                <table
                                    class="footer-first"
                                    align="center"
                                    style="margin-bottom: 30px; width: 100%;"
                                >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p
                                                    class="h2"
                                                    style="
                                                        text-align: center;
                                                        font-size: 20px;
                                                    "
                                                >
                                                    Download METRO app
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <a href="#">
                                                    <img
                                                        src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/google-play.png?v=1588736505"
                                                        alt="google-play"
                                                        width="150px"
                                                        height="45px"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    />
                                                </a>
                                                <a>
                                                    <img
                                                        src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/app-store.png?v=1588736477"
                                                        alt="app-store"
                                                        width="150px"
                                                        height="45px"
                                                    />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table
                                    class="footer-second"
                                    style="
                                        background-color: #f2f2f2;
                                        border-radius: 8px;
                                        width: 100%;
                                        padding: 15px 0;
                                    "
                                >
                                    <tr>
                                        <td>
                                            <p
                                                class="title"
                                                style="
                                                    text-align: center;
                                                    font-size: 18px;
                                                "
                                            >
                                                Get connected
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table
                                                cellpadding="0"
                                                cellspacing="0"
                                                border="0"
                                            >
                                                <tr>
                                                    <td
                                                        id="callout"
                                                        style="
                                                            display: inline-block;
                                                        "
                                                    >
                                                        <table>
                                                            <tr>
                                                                <td
                                                                    style="
                                                                        padding-right: 30px;
                                                                    "
                                                                >
                                                                    <a
                                                                        href="https://www.facebook.com/"
                                                                    >
                                                                        <img
                                                                            src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/facebook.png?v=1588736364"
                                                                            alt="facebook"
                                                                            style="
                                                                                width: 30px;
                                                                                height: 30px;
                                                                            "
                                                                        />
                                                                    </a>
                                                                </td>
                                                                <td
                                                                    style="
                                                                        padding-right: 30px;
                                                                    "
                                                                >
                                                                    <a
                                                                        href="https://www.instagram.com/"
                                                                    >
                                                                        <img
                                                                            src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/instagram.png?v=1588736364"
                                                                            alt="instagram"
                                                                            style="
                                                                                width: 30px;
                                                                                height: 30px;
                                                                            "
                                                                        />
                                                                    </a>
                                                                </td>
                                                                <td
                                                                    style="
                                                                        padding-right: 30px;
                                                                    "
                                                                >
                                                                    <a
                                                                        href="https://twitter.com/"
                                                                    >
                                                                        <img
                                                                            src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/twitter.png?v=1588736364"
                                                                            alt="twitter"
                                                                            style="
                                                                                width: 30px;
                                                                                height: 30px;
                                                                            "
                                                                        />
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                        href="https://www.youtube.com/"
                                                                    >
                                                                        <img
                                                                            src="https://cdn.shopify.com/s/files/1/0252/6298/1229/files/youtube.png?v=1588736364"
                                                                            alt="youtube"
                                                                            style="
                                                                                width: 30px;
                                                                                height: 30px;
                                                                            "
                                                                        />
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p
                                                class="need-help"
                                                style="
                                                    text-align: center;
                                                    font-size: 14px;
                                                "
                                            >
                                                Need help or infomation? Let us
                                                assist you in our Help Center<br />
                                                or Contact Transmart Customer
                                                Service at 021-987654321 and
                                                email@transmart.com<br />
                                                This is an automated email.
                                                Please do not reply.<br />
                                                ©2020, Transmart
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!--End Footer Table-->
                </td>
            </tr>
        </table>
        <!--End Wrapper-->
    </body>
</html>
