<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sm_customer" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Customer</label>
            <tab>transmart</tab>
            <resource>SM_Customer::configuration</resource>
            <group id="customer_omni_store" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Config Omni Store</label>
                <field id="default_omni_store_code" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Default Omni Store Code</label>
                </field>

            </group>
        </section>
    </system>
</config>
