<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="sm_digitalproduct" id="sm_digitalproduct">
			<module before="Magento_Backend" name="SM_DigitalProduct"/>
		</route>
	</router>
</config>
