<!-- ko if: rules -->
<!-- ko foreach: {data: rules, as: 'rule', afterRender: showDiscountArrow} -->
<tr class="total-rules">
    <th class="mark" scope="row">
        <span class="rule-name" data-bind="text:(rule.code ? rule.code : rule.rule_name)"></span>
    </th>
    <td class="amount">
        <!-- ko if: rule.rule_amount && rule.rule_amount != 0 && !$parent.isDigital() -->
        <span class="rule-amount" data-bind="text: $parent.getFormattedPrice(rule.rule_amount)"></span>
        <!-- /ko -->
        <!-- ko if: $parent.isDigital() -->
        <span class="rule-amount" data-bind="text: $parent.getAmountRule(rule.rule_amount)"></span>
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- /ko -->
