<?xml version="1.0"?>
<!--
/**
 * @category Trans
 * @package  Trans_LocationCoverage
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 *
 * @author   Muhammad Randy <muhammad.randy@transdigital.co.id>
 *
 * Copyright © 2019 PT Trans Digital. All rights reserved.
 * http://www.ctcorpora.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="manage_city" frontName="manage_city">
            <module name="Trans_LocationCoverage" before="Magento_Backend"/>
        </route>

        <route id="region_list" frontName="region_list">
            <module name="Trans_LocationCoverage" before="Magento_Backend"/>
        </route>

        <route id="district_list" frontName="district_list">
            <module name="Trans_LocationCoverage" before="Magento_Backend"/>
        </route>
    </router>
</config>