<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminvoucher" frontName="adminvoucher">
            <module name="SM_MyVoucher" before="Magento_Backend"/>
        </route>
    </router>
</config>