<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SM\HeroBanner\Api\Data\BannerInterface" type="SM\HeroBanner\Model\Data\Banner"/>
    <preference for="SM\HeroBanner\Api\Data\SliderInterface" type="SM\HeroBanner\Model\Data\Slider"/>
</config>
