<?xml version="1.0"?>
<!--
 * SMCommerce
 *
 * @category  SM
 * @package   SM_Installation
 *
 * Date: April, 21 2020
 * Time: 3:55 PM
 * User: VooThanh DEV
 *
 * @author    SMCommerce Core Team <connect@smartosc.com>
 * @copyright Copyright SMCommerce (http://smartosc.com/)
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <installation>
            <general>
                <enable>1</enable>
            </general>
            <email>
                <sender>sales</sender>
                <receiver>operation.omni@ctcorpdigital.com</receiver>
                <template>installation_email_template</template>
            </email>
        </installation>
    </default>
</config>
