<!-- ko if: isStepPreviewOrder-->
    <!--ko foreach: previewOrderData()-->
        <div class="wrap-order-summary">
            <h3 data-bind="text: $parent.getTitle($index() +1 , item_total)"></h3>
            <div class="order-summary-info">
                <div class="order-summary-content">
                    <div class="bx-address-info">
                        <h5 data-bind="text: title"></h5>
                        <!-- ko if: $parent.isDeliveryMethod(shipping_method)-->
                        <h4 class="name">
                            <span class="customer-name" data-bind="text: $parent.getCustomerName(address_id)"></span>
                            <span class="address-name" data-bind="text: $parent.getAddressName(address_id)"></span>
                        </h4>
                        <p class="address-details">
                            <span class="address" data-bind="text: $parent.getAddress(address_id)"></span></br>
                            <span class="telephone" data-bind="text: $parent.getTelephone(address_id)"></span>
                        </p>
                        <!--/ko-->
                        <!-- ko ifnot: $parent.isDeliveryMethod(shipping_method)-->
                        <h4 class="name" data-bind="text: $parent.getStoreName()"></h4>
                        <p class="address-details">
                            <span class="address" data-bind="text: $parent.getStoreAddress()"></span></br>
                        </p>
                        <!--/ko-->
                    </div>
                    <div class="checkout-list-items" data-bind="foreach: { data: items, as: 'itemId' }">
                        <div class="item" data-bind="foreach: { data: $parents[1].getItemData(itemId), as: 'item' }">
                            <div class="item-info">
                                <a class="product-item-photo" data-bind="attr: { href: $parents[2].getProductUrl(item.item_id), title: item.name}">
                                    <img width="110" height="110" data-bind="attr: { src: $parents[2].getProductImage(item.item_id), alt: item.name}"/>
                                </a>
                                <div class="product-item-details">
                                    <a class="product-item-name" data-bind="attr: { href: $parents[2].getProductUrl(item.item_id)}, text: item.name"></a>
                                    <!-- ko if: (JSON.parse(item.options).length > 0)-->
                                    <div class="details-options">
                                        <p class="option" data-bind="foreach: { data: JSON.parse(item.options), as: 'option' }">
                                            <span data-bind="text: option.label"></span>: <span data-bind="html: option.value"></span>
                                        </p>
                                    </div>
                                    <!--/ko-->
                                    <!-- ko ifnot: ($parents[2].isFreshProduct(item.item_id))-->
                                        <div class="details-qty">
                                            <span class="value" data-bind="text: item.qty"></span>
                                            <span class="label"><!-- ko i18n: 'pcs' --><!-- /ko --></span>
                                            <span class="product-weight" data-bind="text: $parents[2].getWeight(item.item_id)"></span>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: ($parents[2].isFreshProduct(item.item_id))-->
                                    <div class="details-qty">
                                        <!-- ko if: ($parents[2].isPriceInKg(item.item_id))-->
                                            <!-- ko if: ($parents[2].isShowPromoPrice(item.item_id))-->
                                                <span class="old-price" data-bind="text: $parents[2].getFormatPrice($parents[2].getFreshBasePrice(item.item_id))"></span>
                                                <span class="special-price" data-bind="text: $parents[2].getFormatPrice($parents[2].getFreshPromoPrice(item.item_id))"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: ($parents[2].isShowPromoPrice(item.item_id))-->
                                                <span class="fresh-price" data-bind="text: $parents[2].getFormatPrice($parents[2].getPrice(item.item_id))"></span>
                                            <!-- /ko -->
                                            <br>
                                            <span class="value" data-bind="text: item.qty"></span>
                                            <span class="label"><!-- ko i18n: 'x' --><!-- /ko --></span>
                                            <span class="product-weight" data-bind="text: $parents[2].getLabelFreshWeight(item.item_id)"></span>
                                            <span class="total-weight" data-bind="text: $parents[2].getItemWeight(item.item_id)"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot: ($parents[2].isPriceInKg(item.item_id))-->
                                            <span class="value" data-bind="text: item.qty"></span>
                                            <span class="label" data-bind="text: $parents[2].getSoldIn(item.item_id)"></span>
                                            <span class="product-weight" data-bind="text: $parents[2].getTotalWeight(item.qty, $parents[2].getFreshWeight(item.item_id))"></span>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="subtotal">
                                <!-- ko if: $parents[2].isDiscount(item)-->
                                <!--<span class="price old-price" data-bind="text: $parents[2].getBaseSubTotal(item)"></span>-->
                                <!--/ko-->
                                <span class="price" data-bind="text: $parents[2].getValue(item), css: {final: $parents[2].isDiscount(item)}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-sumary-footer">
                    <!-- ko if: $parent.isDeliveryMethod(shipping_method)-->
                        <div class="delivery-method">
                            <h5 class="title" data-bind="i18n: 'Delivery Method'"></h5>
                            <span class="name" data-bind="text: shipping_method_title"></span>
                            <!-- ko if: $parent.isScheduleMethod(shipping_method)-->
                            <span class="date" data-bind="text: date"></span>
                            <span class="time" data-bind="text: time"></span>
                            <!--/ko-->
                        </div>
                        <div class="delivery-fee">
                            <h5 data-bind="i18n: 'Delivery Fee'"></h5>
                            <span class="price totals-price c" data-bind="text: $parent.getFormattedPrice(shipping_fee_not_discount)"></span>
                        </div>
                    <!--/ko-->
                    <!-- ko ifnot: $parent.isDeliveryMethod(shipping_method)-->
                        <div class="store-pick-up">
                            <h5 class="label" data-bind="i18n: 'Pick Up Date'"></h5>
                            <span class="date" data-bind="text: date"></span>
                            <span class="time" data-bind="text: time"></span>
                        </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    <!-- /ko -->
<!--/ko-->
