<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SM_CustomerGraphQl">
        <sequence>
            <module name="SM_Customer"/>
            <module name="SM_AndromedaApi"/>
            <module name="SM_FileManagement"/>
            <module name="Trans_CustomerMyProfile"/>
        </sequence>
    </module>
</config>
