<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form" type="SM\Review\Modifier\Adminhtml\ReviewFormEdit" />

    <type name="Magento\Review\Model\Review">
        <plugin type="SM\Review\Plugin\ReviewModel" name="review_model"/>
    </type>
</config>
