<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Repository -->
    <preference for="SM\Email\Api\Repository\EmailTemplateRepositoryInterface"
                type="SM\Email\Model\Repository\EmailTemplateRepository"/>
    <preference for="SM\Email\Api\Repository\SendEmailRepositoryInterface"
                type="SM\Email\Model\Repository\SendEmailRepository"/>
</config>
