<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\ExtractDataFromCategoryTree"
                type="SM\CatalogGraphQl\Preference\Model\Resolver\Products\DataProvider\ExtractDataFromCategoryTree"/>
</config>
