<?xml version="1.0" ?>
<!--
/**
 * @category Trans
 * @package  Trans_DigitalProduct
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 *
 * @author   Muhammad Rifai <muhammad.rifai@ctcorpdigital.com>
 *
 * Copyright © 2019 PT Trans Digital. All rights reserved.
 * http://www.ctcorpora.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Logger Start -->
    <type name="Trans\DigitalProduct\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Trans\DigitalProduct\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sprintlog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Trans\DigitalProduct\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- Logger End -->
    
    <preference for="Trans\DigitalProduct\Api\Data\DigitalProductOperatorListInterface"
                type="Trans\DigitalProduct\Model\DigitalProductOperatorList" />

    <preference for="Trans\DigitalProduct\Api\DigitalProductInquireInterface"
                type="Trans\DigitalProduct\Model\DigitalProductInquire" />
    <preference for="Trans\DigitalProduct\Api\DigitalProductTransactionInterface"
                type="Trans\DigitalProduct\Model\DigitalProductTransaction" />
    <preference for="Trans\DigitalProduct\Api\DigitalProductStatusInterface"
                type="Trans\DigitalProduct\Model\DigitalProductStatus" />

    <preference for="Trans\DigitalProduct\Api\Data\DigitalProductInquireResponseInterface"
                type="Trans\DigitalProduct\Model\DigitalProductInquireResponse" />
    <preference for="Trans\DigitalProduct\Api\Data\DigitalProductTransactionResponseInterface"
                type="Trans\DigitalProduct\Model\DigitalProductTransactionResponse" />
    <preference for="Trans\DigitalProduct\Api\Data\DigitalProductStatusResponseInterface"
                type="Trans\DigitalProduct\Model\DigitalProductStatusResponse" />

    <preference for="Trans\DigitalProduct\Api\DigitalProductInquireResponseRepositoryInterface"
                type="Trans\DigitalProduct\Model\DigitalProductInquireResponseRepository" />
    <preference for="Trans\DigitalProduct\Api\DigitalProductTransactionResponseRepositoryInterface"
                type="Trans\DigitalProduct\Model\DigitalProductTransactionResponseRepository" />
    <preference for="Trans\DigitalProduct\Api\DigitalProductStatusResponseRepositoryInterface"
                type="Trans\DigitalProduct\Model\DigitalProductStatusResponseRepository" />
</config>
