<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<digital_product>
			<general>
                <top_content>1</top_content>
                <home_page>topup</home_page>
			</general>
            <quick_transaction>
                <limit>10</limit>
            </quick_transaction>
            <topup>
                <is_active>1</is_active>
                <title>Top Up</title>
            </topup>
            <mobilepackage>
                <is_active>1</is_active>
                <title>Mobile Package</title>
            </mobilepackage>
            <electricity>
                <is_active>1</is_active>
                <title>PLN Electricity</title>
            </electricity>
		</digital_product>
	</default>
</config>
