<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="SM_StoreLocator::head" sortOrder="100" title="Store Location">
					<resource id="Central_Marketplace::store_manager" sortOrder="10" title="Store Location Managers" />
				</resource>
			</resource>
		</resources>
	</acl>
</config>
