<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="sm_gtm" frontName="sm_gtm">
            <module name="SM_GTM" />
        </route>
    </router>
</config>
