<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SM\MobileApi\Helper\Product">
        <plugin name="assign_gtm_data_product_by_sku" type="SM\GTM\Plugin\AssignDataGetProductBySku" />
    </type>
</config>
