<!--
 * @category    SM
 * @package     SM_Notification
 *
 * Date: December, 02 2020
 * Time: 5:19 PM
 * User: VooThanh DEV
 *
 * @author    SMCommerce Core Team <connect@smartosc.com>
 * @copyright Copyright SMCommerce (http://smartosc.com/)
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'Notification'"/>
        <span class="qty empty"
              text="total()"
              data-bind="css: { empty: total() == 0 },
                         attr: { title: $t('List Notifications') }">
        </span>
    </strong>
</div>

<div class="block select-tab">
    <button class="block tab active" data-gtm-event="notification-detail" id="order-status-tab" data-bind="click: openOrderStatusTab">
        <strong>
            <span class="text" translate="'Order Status'"/>
            <if args="orderStatusUnreadTotal() > 0">
                <span class="counter qty empty"
                      data-bind="css: { empty: orderStatusList().length == 0 && !isLoading() }, blockLoader: isLoading">
                    <span class="counter-number"><!-- ko text: orderStatusUnreadTotal() --><!-- /ko --></span>
                </span>
            </if>
        </strong>
    </button>
    <button class="block tab" data-gtm-event="notification-detail" id="updates-tab" data-bind="click: openUpdatesTab">
        <strong>
            <span class="text" translate="'Updates'"/>
            <if args="updateUnreadTotal() > 0">
                <span class="counter qty empty"
                      data-bind="css: { empty: updateList == 0 && !isLoading() }, blockLoader: isLoading">
                    <span class="counter-number"><!-- ko text: updateUnreadTotal() --><!-- /ko --></span>
                </span>
            </if>
        </strong>
    </button>
</div>

<div class="block-content">
    <div id="block-order-status" class="block-order-status" data-bind="visible: !visibleUpdatesTab(), blockLoader: orderStatusLoading">
        <if args="orderStatusList() && orderStatusList().length > 0">
            <div data-action="scroll" class="notification-items-wrapper">
                <ol id="order-status-items" class="notification">
                    <!-- ko foreach: {data: orderStatusList , as: 'item'} -->
                    <li data-bind="
                        attr:{
                            item_id: item.id,
                            class: 'item notification-item' + (item.is_read === true ? ' read' : '')
                        },
                        click: function(data, event) { $parent.actionRead(item, event) }"
                    >
                        <div class="inner">
                                <span class="notification-item-photo">
                                    <img data-bind="attr:{src: item.image}"/>
                                </span>
                            <div class="notification-item-details">
                                <div class="tl-order-status" >
                                    <span class="notification-item-title" data-bind="text: item.event_label"></span>
                                    <span class="notification-item-date" data-bind="text: item.created_at"></span>
                                </div>
                                <div class="notification-item-name" data-bind="html: $parent.convertTitle(item)"></div>
                                <div class="notification-item-content" data-bind="html: $parent.convertContent(item)"></div>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ol>
            </div>
        </if>
        <ifnot args="orderStatusList() && orderStatusList().length > 0">
            <strong class="subtitle empty"
                    data-bind="visible: closeNotification()"
                    translate="'Currently, there is no notification for you.'"
            />
        </ifnot>
        <div class="actions">
            <div class="secondary">
                <!-- ko if:orderStatusUnreadTotal() > 0 -->
                <a class="action read-all" href="#" data-bind="click: function(){ readAllOrderStatus() }">
                    <span translate="'Mark All as Read'"/> (<span class="counter-number"><!-- ko text: orderStatusUnreadTotal() --><!-- /ko --></span>)
                </a>
                <!-- /ko -->
            </div>
            <div class="secondary">
                <a class="action viewnoti" data-bind="attr: {href: notificationUrl}">
                    <span translate="'See All'"/>
                </a>
            </div>
        </div>
    </div>

    <div id="block-updates" class="block-updates" data-bind="visible: visibleUpdatesTab(), blockLoader: updateLoading">
        <if args="updateList() && updateList().length > 0">
            <div data-action="scroll" class="notification-items-wrapper">
                <ol id="updates-items" class="notification">
                    <!-- ko foreach: {data: updateList , as: 'item'} -->
                    <li data-bind="
                        attr:{
                            item_id: item.id,
                            class: 'item notification-item' + (item.is_read === true ? ' read' : '')
                        },
                        click: function(data, event) { $parent.actionRead(data, event) }"
                    >
                        <div class="inner">
                                <span class="notification-item-photo">
                                    <img data-bind="attr:{src: item.image}"/>
                                </span>
                            <div class="notification-item-details">
                                <div class="tl-order-status" >
                                    <span class="notification-item-title" data-bind="text: item.event_label"></span>
                                    <span class="notification-item-date" data-bind="text: item.created_at"></span>
                                </div>
                                <div class="notification-item-name" data-bind="html: $parent.convertTitle(item)"></div>
                                <div class="notification-item-content" data-bind="html: $parent.convertContent(item)"></div>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ol>
            </div>
        </if>
        <ifnot args="updateList() && updateList().length > 0">
            <strong class="subtitle empty"
                    data-bind="visible: closeNotification()"
                    translate="'Currently, there is no notification for you.'"
            />
        </ifnot>
        <div class="actions">
            <div class="secondary">
                <!-- ko if:updateUnreadTotal() > 0 -->
                <a class="action read-all" href="#" data-bind="click: function(){ readAllUpdate() }">
                    <span translate="'Mark All as Read'"/> (<span class="counter-number"><!-- ko text: updateUnreadTotal() --><!-- /ko --></span>)
                </a>
                <!-- /ko -->
            </div>
            <div class="secondary">
                <a class="action viewnoti" data-bind="attr: {href: notificationUrl}">
                    <span translate="'See All'"/>
                </a>
            </div>
        </div>
    </div>
</div>

