<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="grand totals">
    <td class="mark" scope="row">
        <strong data-bind="i18n: 'Grand Total'"></strong>
        <!-- ko if: isShowItemsCount()-->
        <strong class="totals-count-items" data-bind="i18n: getCountItems()"></strong>
        <!-- /ko -->
    </td>
    <td class="amount totals-orders-price" data-bind="attr: {'data-th': $t(title)}">
        <strong><span class="price" data-bind="text: getValue()"></span></strong>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
