<!-- ko if: show-->
<!--ko foreach: previewOrderData()-->
<tr class="payment-detail-order-list">
    <td colspan="2">
        <div class="wrap-order-summary">
            <h3 data-bind="text: $parent.getTitle($index() + 1)"></h3>
            <div class="order-summary-info">
                <div class="order-summary-content">
                    <div class="checkout-list-items">
                        <!--ko foreach: items-->
                        <div class="item" data-bind="foreach: { data: $parents[1].getItemData($data), as: 'item' }">
                            <div class="item-info">
                                <div class="product-item-details">
                                    <a class="product-item-name" target="_blank" data-bind="attr: { href: $parents[2].getProductUrl(item.item_id)}, text: item.name"></a>
                                    <!-- ko ifnot: ($parents[2].isFreshProduct(item.item_id))-->
                                        <div class="details-qty">
                                            <span class="value" data-bind="text: item.qty"></span>
                                            x
                                            <span class="value" data-bind="text: $parents[2].getFormattedPrice(item.price)"></span>
                                        </div>
                                    <!-- /ko -->
                                    <!-- Fresh Product -->
                                    <!-- ko if: ($parents[2].isFreshProduct(item.item_id))-->
                                        <div class="details-qty">
                                        <!-- ko if: ($parents[2].isPriceInKg(item.item_id))-->
                                            <!-- ko if: ($parents[2].isShowPromoPrice(item.item_id))-->
                                                <span class="old-price" data-bind="text: $parents[2].getFormattedFreshPrice($parents[2].getFreshBasePrice(item.item_id))"></span>
                                                <span class="special-price" data-bind="text: $parents[2].getFormattedFreshPrice($parents[2].getFreshPromoPrice(item.item_id))"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: ($parents[2].isShowPromoPrice(item.item_id))-->
                                                <span class="fresh-price" data-bind="text: $parents[2].getFormattedFreshPrice($parents[2].getPrice(item.item_id))"></span>
                                            <!-- /ko -->
                                            <br>
                                            <span class="value" data-bind="text: item.qty"></span>
                                            <span class="label"><!-- ko i18n: 'x' --><!-- /ko --></span>
                                            <span class="product-weight" data-bind="text: $parents[2].getLabelFreshWeight(item.item_id)"></span>
                                            <span class="total-weight" data-bind="text: $parents[2].getWeight(item.item_id)"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot: ($parents[2].isPriceInKg(item.item_id))-->
                                            <span class="value" data-bind="text: item.qty"></span>
                                            <span class="label" data-bind="text: $parents[2].getSoldIn(item.item_id)"></span>
                                            <span class="product-weight" data-bind="text: $parents[2].getTotalWeight(item.qty, $parents[2].getFreshWeight(item.item_id))"></span>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="subtotal">
                                <span class="price" data-bind="text: $parents[2].getFormattedPrice(item.row_total)"></span>
                            </div>
                        </div>
                        <!--/ko-->

                        <div class="item">
                            <div class="item-info">
                                <div class="product-item-details shipping-detail">
                                    <h5 class="shipping-title">
                                        <!-- ko if: $parent.isDeliveryMethod(shipping_method)-->
                                        <span class="title" data-bind="i18n: 'Delivery Method'"></span>:
                                        <!--/ko-->
                                        <span class="name" data-bind="text: shipping_method_title"></span>
                                    </h5>
                                    <!-- ko if: $parent.isScheduleMethod(shipping_method) || !$parent.isDeliveryMethod(shipping_method)-->
                                    <div class="details-qty shipping-delivery">
                                        <span class="date" data-bind="text: date"></span><br>
                                        <span class="time" data-bind="text: time"></span>
                                    </div>
                                    <!--/ko-->
                                </div>
                            </div>
                            <div class="subtotal">
                                <span class="price totals-price a" data-bind="text: $parent.getFormattedPrice(shipping_fee_not_discount)"></span>
                            </div>
                        </div>
                        <div class="bx-address-info">
                            <h5 data-bind="text: title"></h5>
                            <!-- ko if: $parent.isDeliveryMethod(shipping_method)-->
                            <h4 class="name">
                                <span class="customer-name" data-bind="text: $parent.getCustomerName(address_id)"></span>
                                <span class="address-name" data-bind="text: $parent.getAddressName(address_id)"></span>
                            </h4>
                            <p class="address-details">
                                <span class="address" data-bind="text: $parent.getAddress(address_id)"></span></br>
                                <span class="telephone" data-bind="text: $parent.getTelephone(address_id)"></span>
                            </p>
                            <!--/ko-->
                            <!-- ko ifnot: $parent.isDeliveryMethod(shipping_method)-->
                            <h4 class="name" data-bind="text: $parent.getStoreName()"></h4>
                            <p class="address-details">
                                <span class="address" data-bind="text: $parent.getStoreAddress()"></span></br>
                            </p>
                            <!--/ko-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<!-- /ko -->
<!--/ko-->
