<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isShow()-->
<tr class="totals">
    <th class="mark" scope="row">
        <span class="subtotal-text" data-bind="text: title"></span>
        <!-- ko if: isShowItemsCount()-->
        <span class="totals-count-items" data-bind="text: getCountItems()"></span>
        <!-- /ko -->
    </th>
    <td class="amount">
        <span class="price totals-price" data-bind ="text: getValue(), attr:{'data-label': title}"></span>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
