<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::brand_settings" title="Brand Management" sortOrder="50">
                    <resource id="Trans_Brand::brand" title="Brand" sortOrder="40">
                        <resource id="Trans_Brand::save" title="Save" sortOrder="10" />
                        <resource id="Trans_Brand::delete" title="Delete" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

