<?xml version="1.0"?>
<!--
 * SMCommerce
 *
 * @category  SM
 * @package   SM_Notification
 *
 * Date: June, 04 2020
 * Time: 10:45 AM
 * User: VooThanh DEV
 *
 * @author    SMCommerce Core Team <connect@smartosc.com>
 * @copyright Copyright SMCommerce (http://smartosc.com/)
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sm_notification>
            <sync>
                <push_device>* * * * *</push_device>
                <sms>* * * * *</sms>
                <email>* * * * *</email>
            </sync>
            <generate>
                <limit_stock>0 0 * * *</limit_stock>
                <abandoned_cart>*/10 * * * *</abandoned_cart>
                <abandoned_cart_time>1</abandoned_cart_time>
                <abandoned_cart_repeat_time>3</abandoned_cart_repeat_time>
                <abandoned_cart_repeat>*/10 * * * *</abandoned_cart_repeat>
                <va_payment>sprint_bca_va</va_payment>
                <payment_expiring_soon_time>5</payment_expiring_soon_time>
                <payment_expiring_soon_time_cron>* * * * *</payment_expiring_soon_time_cron>
                <payment_expired>*/5 * * * *</payment_expired>
                <remind_pickup_cron>0 * * * *</remind_pickup_cron>
                <pickup_expired>0 * * * *</pickup_expired>
                <remind_pickup>5</remind_pickup>
                <remind_pickup_expired>2</remind_pickup_expired>
            </generate>
            <event_type_config>
                <event_type><![CDATA[[{"event_type":"order_status","name":"Order Status","enable":"1"},{"event_type":"update","name":"Updates","enable":"1"},{"event_type":"service","name":"Services","enable":"1"}]]]></event_type>
            </event_type_config>
        </sm_notification>
    </default>
</config>
