<!--@subject {{trans "Installation Request Transmart.co.id"}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var formattedShippingAddress|raw":"Shipping Address",

} @-->
{{template config_path="design/email/header_template"}}
<table class="greeting" width="100%">
    <tr>
        <td>
            <p>
                {{trans "Dear Team,"}}
            </p>
        </td>
    </tr>
</table>
<!--End greeting-->
<table class="message-email-2" width="100%">
    <tr>
        <td>
            <p>
                {{trans "Mohon untuk memproses instalasi sesuai permintaan dan detail di bawah ini."}}
            </p>
        </td>
    </tr>
</table>
<!--End Message Email 2-->
<table class="list-deliver">
    <tbody>
    <tr>
        <td class="two-column">
            <table>
                <tbody>
                <tr>
                    <td class="one-of-two-column">
                        <table class="total">
                            <tbody>
                            <tr>
                                <td class="inner-td">
                                    <table class="content">
                                        <tbody>
                                        <tr>
                                            <td class="title">
                                                <p>
                                                    {{trans "Order ID %order_id" order_id=$order.getIncrementId()}}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="description">
                                                <p>
                                                    {{trans "SPO Number"}}
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="inner-td">
                                    <table class="content">
                                        <tbody>
                                        <tr>
                                            <td class="title">
                                                <p>
                                                    {{var formattedShippingAddress|raw}}
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!--End List deliver-->
{{layout handle="sales_email_order_installation" order=$order area="frontend"}}
<!-- End order detail-->
{{template config_path="design/email/footer_template"}}
