<?xml version="1.0"?>
<!--
/**
 * @category SM
 * @package SM_Label
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 *
 * @author Logan Ta <phuongtt2@smartosc.com>
 *
 * @copyright   Copyright (c) SmartOSC. All rights reserved.
 * @url http://www.smartosc.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SM\Label\Block\Product\View\CustomLabel">
        <plugin name="SM_Label::AddLabel" type="SM\Label\Plugin\Catalog\Product\View\CustomLabel"/>
    </type>
    <type name="SM\Label\Block\Product\View\StockLabel">
        <plugin name="SM_Label::StockLabel" type="SM\Label\Plugin\Catalog\Product\View\StockLabel"/>
    </type>
    <type name="\Magento\Catalog\Block\Product\Image">
        <plugin name="Amasty_Label::AddLabel" disabled="true" />
    </type>
    <type name="\Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="Amasty_Label::AddLabel" disabled="true" />
    </type>
</config>
